/var/log/maillog
/var/log/messages
/var/log/secure
/var/log/spooler
{
    weekly
    create 0660 root root
    rotate 4
    compress
    compresscmd /usr/bin/xz
    compressext .xz
    missingok
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}
